	body{
		background:#eaeaea;
	}
	.container{
		width:900px;
		margin:0 auto;
		background: #fff;
	}


	/* header */
		header .photo{
			float: left;
		}
		header .photo img{
			width: 250px;
		}
		header .info_profile{
			float: left;
			margin-top:-29px;
			margin-left: 20px;
		}
		header .info_profile ul {
			list-style:none;
		}
		header .info_profile h1{
			text-align: center;
		}
		header .category{
			float: right;
			text-align: right;
			margin-top:-29px;
			margin-left:20px;
		}
		header .category ul{
			list-style: none;
		}
		.clear{
				clear: left;
			}
	/* akhir header */

	/*article*/
		article section p{
			text-indent: 15px;
			text-align: justify;
		}
	/*article*/


		/*footer*/

 		footer .video{
            width:250px;
            height:250px;
            float: left;
        }
        footer .video video{
        	width:100%;
        }
        footer .socmed{
            width:250px;
            border: 1px solid black;
            height:250px;
            margin-left: 50px;
            float: left;
        }
        footer .socmed h4{
        	text-align: center;
        }
        footer .socmed .logo_socmed{
        	width: 150px;
        	margin: auto;
        }
        footer .socmed img{
        	padding:5px;
		    width:60px;
        }
        footer .socmed img:hover{
        	cursor:pointer;
        	filter: opacity(70%);
        }
        
        footer .attachment{
            width:250px;
            height:250px;
            border: 1px solid black;
            margin-left:50px;
            float: left;
        }
        footer .attachment h4{
        	text-align:center;
        }
        footer .attachment ul {
        	list-style:none;
        }
        footer .attachment ul li{
        	margin-top: 5px;

        }
        footer .attachment ul li a{
        	text-decoration: none;
        	color: black;
        }
        /*akhir footer*/